<!DOCTYPE html>
<html>
  <head>
    <title>MassageScheduler</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= load_yojs(app_name: 'massage_scheduler') %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body class="<%= classes_for_scoped_css %>">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="<%= root_url %>">
                  <%= image_tag("logo.png", alt: "logo")%>
                </a>
              </div>
              <ul class="nav navbar-nav">
                <li class="<%= active_class(params, 'dashboard') %>">
                  <a href="<%= root_url %>">Freshy Spa</a>
                </li>
                <li class="<%= active_class(params, 'users') %>">
                  <a href="<%= users_path %>">Usuarios</a>
                </li>
                <li class="<%= active_class(params, 'link') %>">
                  <a href="#">Link</a>
                </li>
              </ul>
            </div>
          </nav>
          <% if flash.present? %>
            <% flash.each do |status, message| %>
              <%= content_tag :div, message, class: "alert #{class_for_alert(status)}" %>
            <% end %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
